/* CSS: Cascading Style Sheet */
/* parent에 적용된 속성이 child에게 덮어씌워짐 */
/* 선택자 (selector) */

/* class와 ID의 차이점
ID: 고유한 것 
clss : 같은 클래스 이름을 여러번 사용 가능, 한 태그에 여러개 클래스 동시 적용 가능 */
* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}

#fixed{
    position: fixed;
    top: 50px;
    right: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
}

.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.relative{
    position: relative;
}


.center-align{
    margin: 0 auto;
    width: 1080px;
}

header{
    height: 170px;
}

#header-top{
    float: right;
    margin-top: 8px;
}

#header-top span{
    color: #888;
    letter-spacing: -1px;
    font-size: 11px;
    line-height: 22px;
}

/* margin collapsing : 상, 하의 margin이 겹쳤을 때 없어지는 현상 발생
-> padding이 안전함 (a 태그의 경우 padding부분까지 클릭하면 링크로 넘어감) */
#header-search{
    clear: both;
    padding-top: 12px;
}
/* #header-search > h1 : 자식을 찾는 것( (바로 아래 들어있는)
   #header-search h1 : 자손을 찾는 것 */
#header-search h1{
    display: inline-block;
    width: 198px;
    height: 48px;
    /*  
    background-position: 0 -158px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_4f8ccb.png);
    background-repeat: no-repeat;
    */
    background: url(img//sp_search.png) -4px -4px no-repeat;
    vertical-align: middle;
    position: relative;
    top: -5px;
    left: 1px;
}


#header-search a{
    text-decoration: none;
}

#header-search h1 span {
    display: none;
}

#header-search h2{
    /* screen reader에게도 보이지 않음
    그렇다면 존재하는 이유는? html이 문서 역할을 하기 때문에 html에서 두번째로 중요한 역할이라는 것을 알려주기 위해 존재
    screen reader에게는 보이지만 사람 눈에는 안보이게 하기 위해서 */
    display: none;
}

#header-search fieldset{
    margin-left: 18px;
    padding: 12px 0 12px 10px;
    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #19ce60;
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input{
    width: 395px;
    height: 23px;
    border: none;
    outline: none;
    padding: 0;
    vertical-align: top;
}

#header-search fieldset button{
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #19ce60;
    position: absolute;
    top: -2px;
    right: -2px;
    
}

#search-keyboard{
    background-image: url(img/sp_search.png);
    background-repeat: no-repeat;
    background-position: -33px -60px;
    width: 19px;
    height: 11px;
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
}

#search-history{
    background-image: url(img/sp_search.png);
    background-repeat: no-repeat;
    background-position: -87px -60px;
    width: 9px;
    height: 4px;
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
}

#search-image{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_4f8ccb.png);
    background-position: -420px 0;
    background-repeat: no-repeat;
    background-size: 457px 434px;
    /*  세로 가운데 정렬
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    */
}

nav{
    height: 46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;
    
}

nav ul{
    display: inline-block;
    margin: 0;
    padding: 16px 0 0 4px;
    list-style: none;
}

nav li{
    display: inline-block
}

/* css 우선순위 존재함 
기본적으로 뒤에 나오는 css가 우선순위가 높음
!important > inline style attribute > ID > 다른 attribute (class) > tag element순으로 높음
금 : id
은 : class
동 : tag 
nth-child() : 같은 태그이든 다른 태그이든 자식의 개수를 세어야하
nth-type() : 같은 태그인 자식을 비교해야함*/

nav li:first-child span:first-child {
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0;
}

nav li span:first-child {
    height: 16px;
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
    background-repeat: no-repeat;
    margin-left: 10px;
}ㄴ

nnav li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
    width: 26px;
    background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
    width: 25px;
    background-position: -70px -285px;
}

nav li:nth-child(7) span:first-child {
    width: 35px;
    background-position: -125px -130px;
}

nav li:nth-child(8) span:first-child {
    width: 26px;
    background-position: -279px -208px;
}

nav li:nth-child(9) span:first-child {
    width: 26px;
    background-position: -128px -104px;
}

nav li:nth-child(10) span:first-child {
    width: 26px;
    background-position: -36px -259px;
}

nav li:nth-child(11) span:first-child {
    width: 39px;
    background-position: -151px -156px;
}

nav li:nth-child(12) span:first-child {
    width: 26px;
    background-position: -279px -130px;
}

nav li:nth-child(13) span:first-child {
    width: 26px;
    background-position: -234px -233px;
}

nav li:nth-child(14) span:first-child {
    width: 26px;
    background-position: -72px -259px;
}

nav li:nth-child(15) span:first-child {
    width: 13px;
    background-position: -140px -78px;
}

nav li:nth-child(16) span:first-child {
    width: 26px;
    background-position: -279px 0;
}

nav li.more:first-child span:first-child {
    width: 55px;
    background-position: 0 -104px;
}

.nav-divider{
    display: inline-block;
    margin: 18px 16px 0;
    width: 1px;
    height: 14px;
    background: #ebeef3;
}

#search-ranking{
    position: absolute;
    top: 16px;
    right: 100px;
}

#rank-number{
    margin-top: -9px;
    color: #00ab33;
    font-size: 16px;
}