*{
  box-sizing: border-box;
}

.blind{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: "Alliance No.1",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  vertical-align: baseline;
}

main, body{
  background-color: rgb(63, 63, 63);
}

ul{
  list-style: none;
}

header{
  position: absolute;
  top: 17px;
  width: 100%;
  padding: 0 50px 0 50px;
}

.header-top{
  clear:both;
  display: flex;
  justify-content: space-between;
}

#header-image{
  display:inline-flex;
  width: 30px;
  height: 30px;
  background: url(img/logo.png);
  background-size: 30px 30px;
  margin-right: 15px;
  vertical-align: middle;
}

.header-left-menu{
  display:inline;
  margin-left: 100px;
}

#menu-list{
  display: inline-flex;
  padding = 0;
  width: 578px;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.menu-items a{
  text-decoration: none;
  color:white;
  font-size: 17px;
  display: inline-block;
}

#header-right{
  display: flex;
  padding-right: 70px;
  height: 80px;
}

#search-text{
  display: flex;
}

#search-text-icon{
  margin-bottom:10px;
}

  #header-right fieldset{
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    padding: 8px 0 0 9px;
    width: 268px;
    height: 36px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(137, 137, 137, 0.474);
}

input::placeholder {
  color: rgba(219, 219, 219, 0.947);
}

#search-text input {
  width: 220px;
  height: 19px;
  padding-left: 10px;
  font-size: 13px;
  color: white;
}

#upper-sign-in-btn{
  margin-top: 25px;
  margin-left: -10px;
  height: 35px;
  width: 90px;
  border: 0;
  outline: 0;
  background-color: transparent;
}

#upper-sign-up-btn{
  margin-top:25px;
  height: 35px;
  width: 90px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 7px;
}

.button-font{
  font-size: 15px;
  color:white;
}

#main-text{
  display: inline-block;
  width: 980px;
  height: 665px;
  padding: 190px 160px 0px 352px;
}

#BFD-text{
  color: white;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 30px;
  margin-bottom: 15px;
}

#paragraph-text{
  color: rgba(255, 255, 255, 0.609);
  font-size: 20px;
  font-weight: 300;
  word-spacing: 3px;
}

#paragraph-text b{
  color: white;
  
}

#paragraph-text u{
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.606);
}

#sign-up-box{
  display: inline-block;
  text-align: center;
  width: 500px;
  height: 550px;
  background-color: white;
  border-radius: 4px;
  vertical-align: middle;
  margin-top: -230px;
  margin-left: 15px;
}

.box-main-text{
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  color: rgb(65, 65, 65);
  font-size: 15px;
  font-weight: 600;
  margin-left: 30px;
}

#sign-up-box input{
  width: 450px;
  height: 45px;
  padding: 5px 20px;
  font-size: 15px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
}

#sign-up-box input:focus{
  background-color: rgb(230, 237, 254);
  border: 1px solid rgb(180, 180, 180);
  outline:none;
}

/*  
nav li{
  height: 16px;
  display: inline-block;
  margin-left: 25px;
}

.menu-item

.menu-item a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.menu-item i {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

#header-right {
    float: right;
    margin-top: -30px;
}

nav .menu-bar{
  clear: both;
  padding-top: 12px;
  background-color:aqua;
}

.icon{
  color: white;
} */
